* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


div {
    background-color: lightgray;
    height: 210px;                                            00px;
    width: 300px;
    margin: auto;
    padding: 5px;
}

main {
    background-color: red;
    color: white;
    border-radius: 10px;
    height: 150px;
}

header {
    margin: 10px 10px; 
   
}

h1 {
    font-size: 50px;
    margin: 0px;
}

h2 {
    padding: 0px;
    margin: 0px;
    
}
section, span {
    background-color: white;
    font-family: cursive;
    color: black;
    padding: 10px 0px;
    height: 30px;
    
    
}
footer {
    background-color: red;
    height: 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}